*{
    margin: 0;
    padding: 0;
}

.Menu{
    font-family: 'Another Hand', cursive;
    width: 250px;
    position: fixed;
    left: -400px;
    top: 66px;
    z-index: 20;
    transition: ease-out 1s;
    height: 350px;
}

.Imagenes{
    width: 100%;
    background:rgba(0,0,0,0.5);
    height: 10%;
    position: fixed;
}

.FondoMenu{
    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: rgba(194, 11, 194, 0.521); 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 0px 0px 30px 0px; 
    -moz-border-radius: 0px 0px 30px 0px; 
    -webkit-border-radius: 0px 0px 30px 0px;
}



.Menu ul li{
    list-style: none;
    margin-left: -10px;
    margin-top: 5px;
    /* border: 3px solid red; */
}

.Menu ul li a{
    width: 95%;
    text-align: center;
    display: block;
    padding: 20px 0px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    transition: all 0.5s;

}

.primero:hover{
    border-radius: 8px;
    color: rgb(0, 81, 255);
    background-color: white;
    transform: translateX(10px);
}

.segundo:hover{
    border-radius: 8px;
    color: red;
    background-color: white;
    transform: translateX(10px);
}

.tercero:hover{
    border-radius: 8px;
    color: green;
    background-color: white;
    transform: translateX(10px);
}

.cuarto:hover{
    border-radius: 8px;
    color: orange;
    background-color: white;
    transform: translateX(10px);
}

.quinto:hover{
    border-radius: 8px;
    color: purple;
    background-color: white;
    transform: translateX(10px);
}

.Menu hr{
    
    width: 60%;
    margin: 0 auto;
}

#abrirMenu{
    height: 50px;
    width: 50px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 10;
    transition: ease-in 1s;
}

#abrirMenu:active{
    transition: 0.1s;
    transform: scale(1.1);
}

#cerrarMenu{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    opacity: 0;
    transition: ease-out 1s;
}

#cerrarMenu:active{
    transition: .1s;
    transform: scale(0.8);
}



.Bienvenida{
    width: 100%;
    height: 630px;
    background-color: blueviolet;
    font-family: 'Another Hand', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 100px 0px; 
    -moz-border-radius: 0px 0px 100px 0px; 
    -webkit-border-radius: 0px 0px 100px 0px; 
    
}

.Bienvenida h1{
    font-size: 90px;
    color: white;
}

.Bienvenida p{
    font-size: 35px;
    color: white;
    
}

.Caja1{
    width: 50%;
    height: 400px;
    font-family: 'Another Hand', cursive;
    margin-top: 175px;

}

.Caja1 h2{
    font-size: 30px;
    color: rgb(0, 132, 255);
    text-align: center;
    text-transform: uppercase;
}

.Caja1 p{
    margin-top: 45px;
    text-align: center;
    font-size: 18px;
}


.CajaPrincipal{
    height: 650px;
    width: 95%;
    /* margin-left: 5%; */
    box-sizing: border-box; 	
    margin:	0;
	padding: 0; 
    display: flex;
    flex-wrap: wrap;
}

.Centrado{
    display: flex;
    flex-direction: row-reverse;
}

.Imagen{
    width: 47%;
    height: 100%;
    background-image: url(../Imagenes/ImagenCaja2.jpg);
    background-position: 35%;
    background-size: cover;
    border-radius: 100px 0px 0px 0px; 
    -moz-border-radius: 100px 0px 0px 0px; 
    -webkit-border-radius: 100px 0px 0px 0px; 
}

.Caja2{
    width: 53%;
    height: 100%;
    background-color: blueviolet;
    font-family: 'Another Hand', cursive;
    text-align: center;
    text-transform: uppercase;
    /* border-radius: 150px 0px 0px 150px; 
    -moz-border-radius: 150px 0px 0px 150px; 
    -webkit-border-radius: 150px 0px 0px 150px;  */
    
}

.Caja2 h2{
    font-size: 30px;
    color: white;
    margin-top: 175px;
    text-align: center;
    text-transform: uppercase;
    top: 150px;
}

.Caja2 p{
    margin-top: 45px;
    color: white;
    text-align: center;
    font-size: 18px;
}

.CajaPrincipal2{
    height: 600px;
    width: 95%;
    box-sizing: border-box; 	
    margin:	0;
	padding: 0; 
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(16, 161, 245);
    border-radius: 0px px 150px 0px; 
    -moz-border-radius: 0px 0px 150px 0px; 
    -webkit-border-radius: 0px 0px 150px 0px; 
}


.Caja3{
    /* width: 100%; */
    width: 50%;
    height: 100%;
    
    font-family: 'Another Hand', cursive;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0px 0px 150px 0px; 
    -moz-border-radius: 0px 0px 150px 0px; 
    -webkit-border-radius: 0px 0px 150px 0px; 
    
}

.Imagen2{
    width: 45%;
    height: 62%;
    background-image: url(../Imagenes/Aprender.png);
    background-position: center;
    background-size: cover;
    margin-top: 17.8%;
    margin-left: 5%;
    border-radius: 0px 0px 150px 0px; 
    -moz-border-radius: 0px 0px 150px 0px; 
    -webkit-border-radius: 0px 0px 150px 0px; 
}


.Caja3 h2{
    font-size: 30px;
    color: white;
    margin-top: 175px;
    text-align: center;
    text-transform: uppercase;
    top: 150px;
}

.Caja3 p{
    margin-top: 45px;
    color: white;
    text-align: center;
    font-size: 18px;
}

footer{
    background-color: rgba(0, 0, 0, 0.568);
    color: white;
    margin-top: 200px;
    font-family: 'Another Hand', cursive;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}