.FondoImagen{
    background-image: url(../Imagenes/FondoCalificar.jpg);
    position: fixed;
    background-size: 100%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    
}

.Bienvenida{
    width: 60%;
    background-image: url(../Imagenes/TerceroImagenes/OPPOSITES.jpg);
    background-size: cover;
    box-sizing: border-box;
    background-position: center;
    background-blend-mode: hard-light;
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 15px;
    border: 2px solid black;
    padding: 20px;
    margin: 10px auto;
    font-size: 25px;
    display: flex;
    justify-content: center;
    font-family: 'Another Hand', cursive;
}

.Preguntas{
    width: 60%;
    background-image: url(../Imagenes/FondoTaller.jpg);
    background-size: cover;
    box-sizing: border-box;
    border-radius: 15px;
    border: 2px solid black;
    padding: 20px;
    margin: 10px auto;
}

p{
    font-family: 'Another Hand', cursive;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 20px;
}

label{
    font-family: 'Another Hand', cursive;
    font-size: 18px;
}


.Video{
    width: 60%;
    background-image: url(../Imagenes/FondoTaller.jpg);
    background-size: cover;
    box-sizing: border-box;
    border-radius: 15px;
    border: 2px solid black;
    padding: 20px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe{
    height: 500px;
    width: 800px;
}

.Casita{
    background-image: url(../Imagenes/Home.png);
    box-sizing: border-box;
    background-size: cover;
    position: fixed;
    height: 60px;
    width: 60px;
    transition: 0.6s;

    text-decoration: none;
    border: 3px solid cornflowerblue;
    border-radius: 5px;
    color:cornflowerblue;
    font-size: 20px;
    font-family: 'Another Hand', cursive;
}
    
.Casita:hover{
    background-color: #5772bb62;
    transform: scale(1.1);
    transition: 0.6s;
}

.Calificar{
    text-decoration: none;
    border: 3px solid cornflowerblue;
    border-radius: 5px;
    background-color: white;
    color:cornflowerblue;
    font-size: 20px;
    font-family: 'Another Hand', cursive;
    padding: 5px 10px;
    margin-left: 45%;
    transition: 0.6s;
}

.Calificar:hover{
    background-color: #5772bb62;
    border: 3px solid black;
    color: black;
    transform: scale(1.1);
    transition: 0.6s;
    cursor: pointer;
}

.BotonCalificar{
    position: fixed;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 300px;
    background-image:url(../Imagenes/FondoCalificacion.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #5878ca;
    text-align: center;
    display: block;
    
}


.ParrafoCalificacion{
    font-family: 'Another Hand', cursive; 
    color: white; 
    font-size: 30px; 
    font-weight: 800; 
    text-align: center; 
    margin: 85px 130px 0 0px;  
    padding: 20px; 

}

.VentanaOpaca{
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

.oculto{
    display: none;
}

.X{
    text-decoration: none;
    color: white;
    border-radius: 50%;
    padding: 5px 8px;
    background-color: rgb(72, 72, 240);
    border-bottom: 2px solid blue;
    position: absolute;
    top: 20px;
    right: 20px;
    border-right: 4px solid blue;
}

.Imagen{
    width: 30%;
}

.Imagen2{
    height: 350px;
    width: 30%;
}